* {
    background-color: black;
    color: white;
}

.questions {
    list-style-type: none;
    color:rgb(0, 185, 199);
    margin: 80px;
}

.answers {
    list-style-type: none;
    color: rgb(37, 157, 255);
}